.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1024px;
  overflow: auto;
  margin: 0 auto;
  color: #ffffff;
  color: #000000;
}

.rule {
  margin: 12px 10px;
}
.rule h4 {
  margin: 12px 0;
}

.form-group ul.input-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.form-group ul.input-box li.input-item {
  box-sizing: border-box;
  width: 28%;
  margin: 6px 0;
  display: flex;
  align-items: center;
  /* word-wrap: ; */
}

.form-group ul.input-box li.input-item label  {
  width: 120px;
  margin: 0;
}

.form-group ul.input-box li.input-item input  {
  width: 140px;
}

form.rule-management  ul.input-box li.input-item {
  width: 50%;
}

form.rule-management ul.input-box li.input-item label  {
  width: 160px;
  margin: 0;
}

/* 通用隐藏 */
.GM-none {
  display: none;
}

/* 媒体查询 */
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {}